# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg/

# Environnement virtuel
.venv/
venv/
env/

# Environnement
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

langchain-sdk-test.py